.container-fluid{
	padding: 0px;
}

.hero{
	 background-image: url("template/Images/ddd.png");
	 height: 75vh;
	 background-size: auto 100%;
	 background-repeat: no-repeat;
	 display: flex;
	 flex-direction: row-reverse;
	 
}

li{
	 margin: 1rem;
}

h3{
	 font-size: 2rem;
}
h1{
	 font-size: 3rem;
}

.brand{
	margin-bottom: 2rem;
}

.hero-text{
	 text-align: center;
	 margin-top: auto;
	 margin-bottom: auto;
	 margin-right: 20rem;
	 width: fit-content;
	 font-size: large;
}

.btn{
	 background-color: #E7E7E9;
	 color: black;
	 border: 3px solid black;
	 border-radius: 0px;
	 padding: 0.2rem 1.5rem;
	 letter-spacing: 3px;
	 font-weight: 500;
}

span{
	 margin: 1rem;
}

a{
	 color: black;
	 text-decoration: none;
}

.icons{
width: 3rem;
margin: 1rem;
}

.secondDiv{
	 padding-top: 40px;
	 padding-bottom: 40px; 
	 text-align: center;
}

.secondDiv > p, .secondDiv > h2  {
	 text-align: center;
}

.blocksContainer {
	 width: 70%;
	 margin-left: auto;
	 margin-right: auto;
	 display: flex;
	 flex-direction: row;
	 justify-content: space-evenly;
	 align-items: center;
}

.blocksContainer > div {
	 margin-left: 40px;
	 margin-right: 40px;
	 text-align: center;
	 flex: 1 1 0px;
}

.abt{
	 margin-top: 1rem;
	 background-color: #fff;
	 color: black;
	 border: 3px solid black;
	 border-radius: 0px;
	 padding: 0.2rem 1.5rem;
	 letter-spacing: 3px;
	 font-weight: 500;
}


.phone{
	 height: 70%;
}

.col-6{
	 text-align: center;
}

.three-right{
	 background-image: url("template/Images/pexels-photo-2050137.jpeg");
	 color: #fff;
	 font-weight: 600;
	 text-align: center;
	 height: 100vh;
	 margin: 0%;
	 padding-top: 25%;
}

.fourth-head{
	 letter-spacing: 4px;
	 margin-left: 2.5rem;
	 margin-bottom: 1.5rem;
}

h6{
	 margin-left: 2.5rem;
	 
}

.blocksContainer-2 {
	 margin-top: 2rem;
	 width: 70%;
	 margin-left: auto;
	 margin-right: auto;
	 display: flex;
	 flex-direction: row;
	 justify-content: space-evenly;
	 align-items: center;
}

.blocksContainer-2 > div {
	 margin-left: 40px;
	 margin-right: 40px;
	 text-align: left;
	 flex: 1 1 0px;
}

.four-parts{
	 background-color: #E7E7E9;
	 padding: 1.5rem;
	 border-radius: 15px;
}

.fifthDiv{
	 background-image: url("template/Images/232c6d839624da0ae42d0f0b813ed0e8.jpeg");
	 height: 45vh;
	 background-repeat: no-repeat;
	 background-size: 100% 100%;
}

.blocksContainer-3 {
	 width: 70%;
	 padding-top: 8rem;
	 margin-top: 3rem;
	 margin-left: auto;
	 margin-right: auto;
	 display: flex;
	 flex-direction: row;
	 justify-content: space-evenly;
	 align-items: center;
	 color: #fff;
}

.blocksContainer-3 > div {
	 margin-left: 40px;
	 margin-right: 40px;
	 text-align: center;
	 flex: 1 1 0px;
}


@property --num1 {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.div3650 {
  transition: --num1 1s;
  counter-set: num1 var(--num1);
  /* font: 800 40px system-ui; */
} 
.div3650::after {
  content: counter(num1);
}
.div3650:hover {
  --num1: 3650;
}

@property --num2 {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.div1500 {
  transition: --num2 1s;
  counter-set: num2 var(--num2);
  /* font: 800 40px system-ui; */
}
.div1500::after {
  content: counter(num2);
}
.div1500:hover {
  --num2: 1500;
}

@property --num3 {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.div500 {
  transition: --num3 1s;
  counter-set: num3 var(--num3);
  /* font: 800 40px system-ui; */
}
.div500::after {
  content: counter(num3);
}
.div500:hover {
  --num3: 500;
}

@property --num4 {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.div3000 {
  transition: --num4 1s;
  counter-set: num4 var(--num4);
  /* font: 800 40px system-ui; */
}
.div3000::after {
  content: counter(num4);
}
.div3000:hover {
  --num4: 3000;
} 

hr{
	 border: 2px solid white;
	 width: 40%;
	 margin-left: 25%;
}

.blocksContainer-4 {
	 width: 70%;
	 margin-left: auto;
	 margin-right: auto;
	 display: flex;
	 flex-direction: row;
	 justify-content: space-evenly;
	 align-items: center;
}

.blocksContainer-4 > div {
	 margin-left: 40px;
	 margin-right: 40px;
	 text-align: center;
	 flex: 1 1 0px;
}

.sixthDiv{
	 font-size: small;
	 margin-bottom: 3rem;
}

.six-head{
	 margin-top:2rem ;
	 text-align: center;
}

.six-heads{
	 letter-spacing: 2px;
}

.icons-6{
	 margin: 1rem;
	 width: 2rem;
}

.abt-neg{
	 margin-top: 1rem;
	 background-color: #000;
	 color: #fff;
	 border: 3px solid white;
	 border-radius: 0px;
	 padding: 0.2rem 1.5rem;
	 letter-spacing: 3px;
	 font-weight: 500;
	 margin-bottom: 3rem;
}

.seventhDiv{
	 padding-top: 3rem;
	 padding-bottom: 3rem;
	 background-color: black;
	 color: white;
	 height: 30vh;
	 margin-left: 0%;
	 text-align: center;
}

.eight-head{
	 text-align: center;
	 margin: 2rem;
}
.eighthDiv{
	 text-align: center;
	 align-items: center;
}

.img-grid{
	 width: 30%;
	 height: 300px;
	 padding: 0.5rem;
}

.ninthDiv{
	 margin-top: 5rem;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 flex-direction: column;

}

.testimonial-pic{
  border-radius: 50%;
  width: 14%;
}
.testimonial-p{
	 text-align: center;
	 padding-top: 2rem;
}

.testimonial-name{
	 margin-bottom: 3rem;
}

footer{
	 background-color: #333333;
	 color: #fff;
	 text-align: center;
	 height: 30vh;
	 margin: 0%;
	 padding-top: 2rem;
	 padding-bottom: 0.5rem;
}

.col-md-6{
	text-align: center;
}

@media only screen and (max-width: 786px) {
	.blocksContainer{
		flex-direction: column;
	}
	.blocksContainer > div{
		margin-top: 1rem;
	}
	.blocksContainer-2{
		flex-direction: column;
	}
	.blocksContainer-2 > div{
		margin-top: 1rem;
	}
	
	.blocksContainer-4{
		flex-direction: column;
	}
	.blocksContainer-4 > div{
		margin-top: 1rem;
	}
	.img-grid{
		width: -webkit-fill-available;
		height: auto;
	}
	.testimonial-pic{
		width: auto;
	}
	.testimonial-name{
		font-size: revert;
	}
	.sixthDiv{
		font-size: large;
	}
	.col-md-6 {
		text-align: center;
		align-items: center;
	}
	.hero-text{
		margin: auto;
		color: #fff;
	}
	.fourth-head{
		margin-top: 2rem;
	}
	.phone{
		margin: 0%;
	}
	.three-right{
		padding-top: 70%;
	}
	.blocksContainer-3{
		width: auto;
		padding-top: 4rem;
		flex-wrap: wrap;
	}
}