.app{
    display: flex;
    flex-direction: row;
    height: 700px;
}

.main{
    width: 65%;
    padding: 1rem;

}

.form-grid{
    display: flex;
    justify-content: center;
}

.right{
    background-color: #35477D;
    width: 35%;
    padding: 1rem;
    color: #ededed;
    padding-left: 3rem;
}

label{
    color: #77778f;
    padding: 1rem;
}

img{
    width: 0.7rem;
    padding-right: 0.4rem;
}

.submit{
    background-color: #35477D;
    padding: 1rem 0.7rem;
    margin: 0.5rem;
    color: #fff;
}

input{
    color: #000;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #000 1px;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.grid{
    width: 45%;
}

.head{
    color: #35477D;
}

textarea{
    display: block;
    margin-left: 1rem;
    padding-bottom: 2rem;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #000 1px;
    width: 50%;
    height: 80px;
    margin-bottom: 1rem;
}
::placeholder{
    color: #000;
}
.labels{
    display: flex;
}
.labels label{
    width: 45%;
}

.gender{
    margin-top: 30px;
}

